body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #49005d;
    margin  : 20px 0px 50px 0px;
    color: #fff;
}

footer{
    background-color: #49005d;
    padding: 20px;
}


.navbar .form-inline {
    margin-left: auto;
    display: flex;
}

.navbar{
    background-color: #49005d;
    padding: 10px;
}

.navbar-brand{
    margin: 0px 10px 0px 10px;
    color: #fff;
}

.nav-link{
    color: #fff;
}
.main{
    height: 500px;
    background-image: url("img1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main h1 {
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 3rem;
    margin: 10px 0;
}


.main p{
    padding: 10px;
    border-radius: 10px;
    background-color: #49005d;
    text-shadow: 1px;
    margin: auto;
}

.categories button, #cards button {
    margin: 10px;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    color: #49005d;
}

#readings {
    margin-top: 20px;
    font-size: 18px;
    background: #49005d;
    padding: 10px;
    border-radius: 8px;
}

.categories button, .btn-primary {
    background-color: #800080;
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.categories button:hover, .btn-primary:hover {
    background-color: #6a006a;
    transform: scale(1.05);
}

.categories button:active, .btn-primary:active {
    background-color: #4a004a;
    transform: scale(1);
}

.btn-floating {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #49005d;
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.facebook i {
    color: #4267B2;
}

.twitter i {
    color: #1DA1F2;
}

.google i {
    color: #DB4437;
}

.instagram i {
    color: #E4405F;
}