body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #49005d;
    margin  : 20px 0px 50px 0px;
    color: #fff;
}

footer{
    background-color: black;
    padding: 20px;
}


.navbar .form-inline {
    margin-left: auto;
    display: flex;
}

.navbar{
    background-color: #49005d;
}

.navbar-brand .nav-link{
    margin: 0px 10px 0px 20px;
}

.main{
    height: 500px;
    background-image: url("img1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main p{
    padding: 10px;
    border-radius: 10px;
    background-color: #49005d;
    text-shadow: 1px;
    margin: auto;
}

.categories button, #cards button {
    margin: 10px;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

#readings {
    margin-top: 20px;
    font-size: 18px;
    background: #49005d;
    padding: 10px;
    border-radius: 8px;
}